body {
    background-color: rgb(226, 221, 221);
}

.collapse.navbar-collapse {
    text-align: right;
}

.form-group {
    margin-top: 10px;
}

.form-group-message {
    height: 250px;
}

.form-control-3 {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}