body {
    background-color: rgb(226, 221, 221);
}

.collapse.navbar-collapse {
    text-align: right;
}

.container.col-sm-6 {
    background-color: white;
    border-style: solid;
    border-color: grey;
    height: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 65%;
    text-align: justify;
}

.col-sm-auto.col-md-6 {
    margin-top: 10px;
}

h1 {
    border-bottom: solid;
    border-color: grey;
    color: turquoise;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    text-emphasis: bold;
    text-align: center;
       font-size: 12px;

}